<!DOCTYPE html>
<html lang="en">
  <head>
    
   <%= link_to 'Nomster', root_path, class: 'navbar-brand' %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <nav>
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <%= link_to new_place_path, class: 'nav-link' do %>
        <i class="fa fa-plus-circle"></i>
      New Place
      <% end %>

  </li>

    <% if user_signed_in? %>
        <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
        </li>
            
      <% end %>
</ul>
  
    


  <body>
    <nav>
    <% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    
   </nav>




    <%= yield %>

  </body>
</html>
